.c-table {
  thead {
    background-color: $theme-color-base-lightest;
  }

  tr {
    @extend .border-bottom-2px;
    @extend .border-base-lighter;
  }

  th:first-child {
    padding-left: units(2);
  }
}
