.c-thumbnail {
  background-position: top;
  background-size: cover;
  height: 100px;
  flex-shrink: 0;
  width: 100px;
}

@media (min-width: units('desktop')) {
  .c-thumbnail {
    margin-bottom: units(2);
    padding-top: 50%;
    width: 100%;
  }
}

.c-thumbnail--fallback {
  align-items: center;
  height: 100px;
  justify-content: center;
  padding-top: 0;
  width: 100px;
}
