.run-notes {
  padding: 10px;

  span {
    font-weight: bolder;
    margin-right: 5px;
  }
}

.categories {
  div {
    display: flex;
    flex-direction: column;
  }
}

.closed {
  display: none;
}

.e2e-test-grid {
  display: flex;

  .run-column {
    display: flex;
    flex-direction: column;
  }

  .run-column-header {
    display: flex;
    flex-direction: column;
  }

  .result-cell {
    min-height: 50px;
    min-width: 50px;

    //&.passed {
    //  background: green;
    //}
    //&.failed {
    //  background: red;
    //}
    //&.pending {
    //  background: gray;
    //}
  }
}

table.e2e-status {
  min-width: 900px;
  td {
    padding: 0 10px;
  }
  .clickable {
    cursor: pointer;
  }
}

table.runDetails {
  border-bottom: 2px #333 solid;
  width: 100%;

  td {
    vertical-align: top;
    &.test-name {
      color: #777;
      left: -10px !important;
      position: relative;
      vertical-align: middle;
    }
  }
}

.indicator {
  width: 10px;
  filter: brightness(0.9) contrast(0.9) saturate(1.3) hue-rotate(-10deg);
  height: 100%;
  display: block;

  &.failed {
    background: red;
  }

  &.skipped {
    background: #d4e500;
  }

  &.passed {
    background: #00c100;
  }
}

.pill {
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px #fff solid;
  font-weight: bold;
  font-size: 9px;
  margin-right: 5px;
  //filter: brightness(0.9) contrast(.9) saturate(1.3) hue-rotate(-10deg);

  &.PASS {
    background: #ffeffd;
    color: #00c100;
    border-color: #00c100;
  }

  &.SKIPPED {
    background: #d4e500;
  }

  &.EDM {
    background: #ffeffd;
    color: #ff00e0;
    border-color: #ff00e0;
  }

  &.HIGH,
  &.connection {
    background: #fee;
    color: #f00;
    border-color: #f00;
  }

  &.MEDIUM {
    background: #fee;
    color: #e56b00;
    border-color: #e56b00;
  }

  &.LOW {
    background: #f0f8ff;
    color: #08f;
    border-color: #08f;
  }
}

.display-linebreak {
  white-space: pre-line;
  max-width: 700px;
  word-break: break-word;
}

.e2e-run-progress {
  background: #ddd;
  width: 100%;
  position: relative;
  border-radius: 15px;
  height: 30px;
  min-width: 50px;

  &.clickable {
    cursor: pointer;
    &:hover {
      outline: 1px dotted #000;
      outline-offset: 4px;
    }
  }

  .progress {
    left: 0;
    position: absolute;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: #000 !important;
    line-height: 30px !important;
    font-weight: bold;
    filter: brightness(0.9) contrast(0.9) saturate(1.3) hue-rotate(-10deg);

    &.failed {
      background: red;
    }

    &.skipped {
      background: #d4e500;
    }

    &.passed {
      background: #00c100;
    }
  }
}

.charts {
  display: flex;
  flex-direction: row;
}
