# Automatically assign codeowners when changed files match
#
# - Each line is a file pattern followed by one or more owners.
# - Order is important; the last matching pattern takes the most precedence
#
# See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#example-of-a-codeowners-file
# ProTip: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team

/portal/ @EOLWD/pfml-portal
/docs/portal/ @EOLWD/pfml-portal
/infra/portal/ @EOLWD/pfml-portal
/e2e/ @EOLWD/pfml-e2e

# These patterns include ** to match both api/massgov/pfml/DIR and api/tests/DIR
/api/                                                  @jamesbursa @oscarAtNava
/api/**/util/                                          @chouinar @jamesbursa
/api/**/api/                                           @jamesbursa @shebryant
/api/**/api/*.py                                       @jkpace @shebryant
/api/**/api/auth*/                                     @doshitan @shebryant
/api/**/api/claims*                                    @jkpace @sharonwarner
/api/**/api/services/*applications.py                  @doshitan @jnfang
/api/**/api/services/*fineos_actions.py                @jnfang @oscarAtNava
/api/**/api/services/*administrator_fineos_actions.py  @jkpace @sharonwarner
/api/**/api/eligibility/                               @EyuelAbebe @jamesbursa
/api/**/api/validation/                                @antxaddis @kyeah
/api/**/cognito*/                                      @sharonwarner
/api/**/db/                                            @doshitan @jamesbursa
/api/**/delegated_payments/                            @chouinar @antxaddis
/api/**/dor/                                           @antxaddis @mhuneke
/api/**/fineos/                                        @doshitan @oscarAtNava
/api/**/formstack/                                     @sharonwarner
/api/**/payments/                                      @chouinar @antxaddis
/api/**/reductions/                                    @mhuneke @doshitan
/api/**/rmv/                                           @doshitan @kyeah
/api/**/servicenow/                                    @sharonwarner
/api/**/user_import/                                   @sharonwarner
/api/lambdas/                                          @paz-focus @sharonwarner
/api/?ocker*                                           @jamesbursa @kyeah
/api/Makefile                                          @doshitan @kyeah
/api/openapi.yaml                                      @oscarAtNava @shebryant
