.next
__snapshots__
coverage
examples
node_modules
# Web apps
*/public/**/*.css
*/public/**/*.js
new-relic.js
# Compiled code
portal/.next
portal/build
portal/out
portal/out-storybook
# Subdirectories with their own lint process
e2e/
admin/