{
    "root": true,
    "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "jest": true
    },
    "extends": [
      "nava",
      "plugin:jest/recommended",
      "plugin:jsdoc/recommended",
      "prettier"
    ],
    "plugins": ["jest", "jsdoc", "lodash", "todo-plz"],
    "rules": {
        "camelcase": "off",
        "jest/consistent-test-it": ["error", { "fn": "it" }],
        "jest/no-conditional-expect": "off",
        "jest/no-try-expect": "off",
        "jest/valid-title": "off",
        "jsdoc/check-param-names": "error",
        "jsdoc/newline-after-description": "off",
        "jsdoc/require-jsdoc": "off",
        "jsdoc/require-param": "off",
        "jsdoc/require-param-description": "off",
        "jsdoc/require-param-name": "error",
        "jsdoc/require-param-type": "error",
        "jsdoc/require-returns": "warn",
        "jsdoc/require-returns-description": "off",
        "jsdoc/no-undefined-types": "off",
        "jsdoc/tag-lines": "off",
        "lodash/import-scope": ["error", "member"],
        "lodash/path-style": ["error", "string"],
        "no-console": ["error", { "allow": ["error"] }],
        "no-irregular-whitespace": ["error", { "skipTemplates": true }],
        "no-prototype-builtins": "off",
        "object-shorthand": ["error", "properties", { "avoidQuotes": true }],
        "promise/no-native": "off",
        "require-await": "error",
        "sort-imports": "error",
        "sort-vars": "error",
        "todo-plz/ticket-ref": ["error", { "pattern": "(API|CP|EMPLOYER|POL)-[0-9]+", "terms": ["TODO"] }]
      },
    "settings": {
      "jest": {
        "version": "detect"
      },
      "jsdoc": {
        "mode": "typescript"
      }
    }
  }
