# Log files
*.log

# Dependency directories
node_modules/

# Next.js build output
.next/

# Next.js and Storybook static export
out/
out-storybook/

# Mac filesystem file
.DS_Store

# terraform metadata
.terraform/

# terraform plan files
plan.out

# Files generated with the "archive_file" Terraform resource
infra/portal/template/.zip

# Generated code coverage reports
portal/coverage/

# IDE-specific files
.vscode/
.idea/
