@import "../common/components/ListErrors";

.E2E-error-list {
  margin: 10px;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  label,
  button {
    margin: 5px;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    input {
      margin-right: 5px;
    }
  }
}
