
.ListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    margin-right: 10px;
  }

  button {
    font-size: 10px;
    line-height: 12px;
    min-height: 14px;
    height: 26px;
  }
}

div.ListErrors {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;

  .name {
    width: 200px;
  }

  .errorClass {
    width: 100px;
  }

  .right {
    margin-left: auto;
  }

  .errorMessage {
    background: #CCC;
    font-family: Consolas, monospace;
    padding: 10px;

    &.closed {
      display: none;
    }
  }

  .time, .file, .errorClass, .environment {
    margin-right: 10px;
    font-size: 11px;
  }

  .environment {
    font-weight: bold;
  }

  .runlink {
    margin-right: 10px;
  }

  .fileError {
    color: green;
    font-weight: bold;
  }

  .col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .list-row {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #666 dashed;
  }

  .label {
    padding: 2px 12px;
    border: 0.1em #AAA solid;
    border-radius: 5px;
    margin-right: 5px;
    color: #AAA;
    font-size: 10px;
    white-space: nowrap;

    &.deploy {
      color: #6A8DE1;
      border-color: #6A8DE1;
      background: #DFE4F5;
      font-weight: bold;
    }

    &.morning {
      color: #986AE1;
      border-color: #986AE1;
      background: #F0E6F5;
      font-weight: bold;
    }
  }
}
