// Environment Config Template

// To create an environment config file, copy this text into the new file,
// e.g. `dev.js`, and replace the XXXX values with real values.


module.exports = {
  // Environment name here, e.g. "Development", "Test", "Production"
  envName: XXXX,
  awsConfig: {
    "Auth": {
      // Set the AWSregion here
      "region": XXXX,
      // Set the Cognito user pool ID here
      "userPoolId": XXXX,
      // Set the App client ID here
      "userPoolWebClientId": XXXX,
      "mandatorySignIn": false,
      "oauth": {
        // Set the domain here (Amazon Cognito, or your own)
        "domain": XXXX,
        "scope": [
            "phone",
            "email",
            "profile",
            "openid",
            "aws.cognito.signin.user.admin"
        ],
        // Set the sign-in redirect url here
        "redirectSignIn": XXXX,
        // Set the sign-out redirect url here
        "redirectSignOut": XXXX,
        "responseType": "code"
      }
    }
  }
};
