{
  "extends": ["plugin:storybook/recommended"],
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "react/prop-types": "off"
  }
}
