/// Global layout styles, primarily responsible for sticking
/// the footer to the bottom of the screen, and overriding
/// some aspects of the U.S. Web Design System that can't
/// be configured through a Sass variable.

.l-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-main {
  flex-grow: 1;
  width: 100%;
}

.usa-form {
  max-width: units("tablet-lg");
}
