/*
--------------------------------------------------------------------------------
U.S. Web Design System - Utility overrides
--------------------------------------------------------------------------------
Read more about settings and USWDS style tokens in the documentation:
https://designsystem.digital.gov/documentation/settings/#utilities
https://designsystem.digital.gov/utilities/
--------------------------------------------------------------------------------
*/

$color-settings: (
  output: true,
  responsive: false,
  active: true,
  focus: false,
  hover: true,
  visited: false,
);

// Output utility styles with !important. This means utilities will always
// override existing component styles, regardless of the component's CSS specificity,
// which more closely aligns with people's mental models of utility classes.
$utilities-use-important: true;

$text-align-settings: (
  responsive: true,
);

$background-color-manual-values: (
  "transparent": transparent,
);
