/*
--------------------------------------------------------------------------------
U.S. Web Design System - Typgography overrides
--------------------------------------------------------------------------------
Read more about settings and USWDS style tokens in the documentation:
https://designsystem.digital.gov/documentation/settings/#typography
https://designsystem.digital.gov/design-tokens/typesetting/font-family/
--------------------------------------------------------------------------------
*/

/* Mayflower SCSS prefix url references to assets such as fonts and images with $assets-path.
 Set $assets-path to form the correct url references in your project to the parent folder of the fonts/ folder, based on the location of the compiled css.
*/
$assets-path: '~@massds/mayflower-tokens/dist';
@import '@massds/mayflower-tokens/dist/scss/fonts';


$theme-typeface-tokens: (
  texta: (
    display-name: "Texta",
    cap-height: 300px
  )
);

// Use Texta everywhere
$theme-font-type-sans: "texta";
$theme-font-sans-custom-stack: "Helvetica, sans-serif";

$theme-font-role-heading: "sans";
$theme-font-role-body: "sans";
$theme-font-role-alt: "sans";
