/*
--------------------------------------------------------------------------------
U.S. Web Design System - Typgography overrides
--------------------------------------------------------------------------------
Read more about settings and USWDS style tokens in the documentation:
https://designsystem.digital.gov/documentation/settings/#typography
https://designsystem.digital.gov/design-tokens/typesetting/font-family/
--------------------------------------------------------------------------------
*/

/* Mayflower SCSS prefix url references to assets such as fonts and images with $assets-path.
 Set $assets-path to form the correct url references in your project to the parent folder of the fonts/ folder, based on the location of the compiled css.
*/
$assets-path: "~@massds/mayflower-tokens/dist";
@import "@massds/mayflower-tokens/dist/scss/fonts";

$theme-typeface-tokens: (
  texta: (
    display-name: "Texta",
    cap-height: 300px,
  ),
);

// Use Texta everywhere
$theme-font-type-sans: "texta";
$theme-font-sans-custom-stack: "Helvetica, sans-serif";

$theme-font-role-heading: "sans";
$theme-font-role-body: "sans";
$theme-font-role-alt: "sans";

// Apply default type styles (family, size, line height) to the body element
$theme-style-body-element: true;
$theme-body-font-size: "xs";

// Apply global <p> styling
$theme-global-paragraph-styles: true;

// Customize lead type styles
$theme-lead-font-size: "sm";
$theme-lead-line-height: 5;

// Customize heading type styles
$theme-h1-font-size: "xl";
$theme-h2-font-size: "lg";
$theme-h3-font-size: "md";
$theme-h4-font-size: "sm";
$theme-h5-font-size: "xs";
