# .env file for configuring E2E testing tools.
#
# Important: Do not add secrets to .env.example. Add them to .env,
# which will not be committed.

# Portal login. Use a portal login you generate here. This is who we will submit claims
# on behalf of through the portal.
E2E_PORTAL_USERNAME= ** Your username here **
E2E_PORTAL_PASSWORD= ** Your password here **

# Fineos login. We use shared credentials for the Fineos system. Speak to the E2E team
# to get these.
E2E_FINEOS_BASEURL= ** FINEOS base url here **
E2E_FINEOS_USERNAME= ** FINEOS login here **
E2E_FINEOS_PASSWORD= ** FINEOS password here **

# Optional - these credentials are only used during the registration test. You probably
# don't need them.
# E2E_TESTMAIL_APIKEY= ** TestMail API key **
# E2E_TESTMAIL_NAMESPACE = ** TestMail namespace **

# These credentials are used during Business Simulation tests:
E2E_COGNITO_POOL=us-east-1_HpL4XslLg
E2E_COGNITO_CLIENTID=10rjcp71r8bnk4459c67bn18t8
