# .env file for configuring E2E testing tools.
#
# Important: Do not add secrets to .env.example. Add them to .env,
# which will not be committed.

# Portal login. Use a portal login you generate here. This is who we will submit claims
# on behalf of through the portal.
PORTAL_USERNAME= ** Your username here **
PORTAL_PASSWORD= ** Your password here **

# Fineos login. We use shared credentials for the Fineos system. Speak to the E2E team
# to get these.
FINEOS_BASEURL= ** FINEOS base url here **
FINEOS_USERNAME= ** FINEOS login here **
FINEOS_PASSWORD= ** FINEOS password here **

# Optional - these credentials are only used during the registration test. You probably
# don't need them.
# GMAIL_APP_CREDS= ** App Google Credentials **
# GMAIL_PERSONAL_CREDS = ** Personal Google Credentials **

# These credentials are used during Business Simulation tests:
COGNITO_POOL=us-east-1_HpL4XslLg
COGNITO_CLIENTID=10rjcp71r8bnk4459c67bn18t8
