@font-face {
  font-family: "SiteAdminPortal";
  src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBkwAAAC8AAAAYGNtYXAXVtKeAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZrxxgvQAAAF4AAAXgGhlYWQj+Nb/AAAY+AAAADZoaGVhDlAKawAAGTAAAAAkaG10eGkaAoIAABlUAAAAcGxvY2Frgmf+AAAZxAAAADptYXhwAFkD3gAAGgAAAAAgbmFtZZoICFMAABogAAAB5nBvc3QAAwAAAAAcCAAAACAAAwQLAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpFwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6Rf//f//AAAAAAAg6QD//f//AAH/4xcEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAA8AAD/wAqOA8AADwAYABsAQgBpAHIAdQCQAJwArwDWAOMA6wDzARoBJgEwAVkBZwFzAXcBiQGXAaIBywHZAf0CCQINAhICKgJIAlMCXwJxAokCkAKiArACvALAAtsDBAMSAxYDHQM1AzwDZQNzA30DlQOcA6UDqgOtA7gDxAPUA9sAACUjNTcHIycdASM1Mxc3MxU3IwcjNzMXIycvAQcXNx4BMzI2NTQmJy4BNTQ2MzIWFwcuASMiBhUUFhceARUUBiMGJiczNx4BMzI2NTQmJy4BNTQ2MzIWFwcuASMiBhUUFhceARUUBiMGJicXIwcjNzMXIycvAQc3NDYzMhYXBy4BIyIGFRQWMzI2NxcOASMiJjU3FSM1IxUjNTMVMzUzFRQGIyImPQEzFRQWMzI2NSczFzceATMyNjU0JicuATU0NjMyFhcHLgEjIgYVFBYXHgEVFAYjBiYnFxUjNTMVIxUzFSMVMzcjFSM1IzUzFyMVIzUjNTMXNx4BMzI2NTQmJy4BNTQ2MzIWFwcuASMiBhUUFhceARUUBiMGJicBFAYrARUjNTMyFhUjNCYrARUzMjY3Fw4BIyImNQ4BIyImNTQ2MzIWFzU0JiMiBgcnPgEzMhYdARQWMzI2MxcnNSImIyIGFRQWMzI2Nzc0NjMyFhUUBiMiJhczFSM3FSMnDgEjIiY1NDYzMhYXNTMHNS4BIyIGFRQWMzI2NzcVMxUjFSM1MxUjFw4BIyImNQ4BIyImNTQ2MzIWFzU0JiMiBgcnPgEzMhYdARQWMzI2MxcnNSImIyIGFRQWMzI2NzcVIzU0JiMiBgcVIzU0JiMiBgcVIzUzFz4BMzIWFz4BMzIWFTc0NjMyFhUUBiMiJhczFSM3MxUjNRcPAQ4BIyImJzceATMyNj8BJzMfAT8BMxcnDgEjIiY1NDY3LgE1NDYzMhYVFAYHFz8BFwcXIy8BDgEVFBYzMjY3JxQWFz4BNTQmIyIGASM9AQcjJxcVIzUzHwE/ATMVNyMeATMyNjcXDgEjIiY1NDYzMhYVHAEVJzMuASMiBjcVIycOASMiJjU0NjMyFhc1Mwc1LgEjIgYHFBYzMjY3NzQ2MzIWFRQGIyImFzMVIzc0NjMyFhcHLgEjIgYVFBYzMjY3Fw4BIyImNRcOASMiJicOASMiJjU0NjMyFhc1NCYjIgYHJz4BMzIWHQEUFjMyNjMXJzUiJiMiBhUUFjMyNjc3MxUjNxUjNTMVMzcjHgEzMjY3Fw4BIyImNTQ2MzIWFRwBFSczLgEjIgYXDgEjIiYnDgEjIiY1NDYzMhYXNTQmIyIGByc+ATMyFh0BFBYzMjYzFyc1IiYjIgYVFBYzMjY3NwcjJzMfAT8BMxcjHgEzMjY3Fw4BIyImNzQ2MzIWFRwBFSczLgEjIgYlFAYrATUzMhYBESERNxUHMwEzNTM1IzUzNSMRJTM1NzI2NTQmKwERAQMjBycjAzM/ARczNxUXMyUjNSMRMzUFBRQBGBMYEx0YGBxbKQcVJBkkFQcHDg5NFAIJCgoJCg8PEhURERMDFAIKCAgICQ8SEBUUEhMDZhQBCgoJCgoQDxIVEhATAxQBCggJCAkQERAVExMTAqMoBxUkGCQVBwYODk0aFREVAxMDCgkLDg4LCQsCFAMXERUZyRUsFhYsihcTFBYVDAoJDAEVGhQBCgoJCgoPEBIVEhAUAhQBCggICQkQEhAWExMTArFFRC8sLDBkHhUeUWAeFR5REBQCCQsJCQkQDxIVERETAxQCCggICAkPEhAVExMTA/uFIx01EkgfIBEZFzQ0FhkBjgMGBAkLCBcOExceHAgOBhARDRICEAQZFRkYBAQDAwECIgUOCRQVDw0NFQc4BwYFCAgFBgcFEBCkDwEGGBEZHyIZDxYGEREEFQ8UGRcUEBYEgFZWEXBf3gMHAwkLCBcPEhceGwkNBxARDRIDDwMaFRkYAwUCBAECIgUOCRQVDw0NFQf/EREREhUCERIRERUCEQ8CBRYSERYFBRcUFxglCAYFCAgFBggFERE+ERGfNgoHEQ0KDQQKAwcHCQoFCDUSHw0MHhLBGQsdFBcdFRMHChgVEhgZEi0DHAofIxQjNBIPFBEPFwo/BgwTEg0NDg/7WhA+ET4BERc9AwQ8Fo5kARgTDxQEDwUeFBshIhsYIGRUARcQEhfpDwEGGBAaHyIZEBUGEREEFQ8UGAEXFBEVBDMIBQYICAYFCAURES0hGxYaBRAEEg4VFhYUEBMDDwQcFRsh+wMGAwoKAQcXDxMXHhwIDgcREQ0RAw8DGhQZGAQEAwMBAiEGDgkUFQ8NDRUINhER2nASXnVkARgTDxQEDwUeExsiIhsYIGNTARcQEhfpAwYDCgoBCBcOExceHAgOBhARDRICDwMZFRkYBAQDAwECIQYOCRQVDw0NFQidOA83EyELDCESe2QBGBMPFAQPBR4UGyIBIhsYIGRUARcRERf3yx0aW1sZHgII/AC/qKgB4UFqaoDB/oVBYTNAOjalARkVQz89RRM6CQEyPTQJPAEkgkHDWToPSEcOOmNISGMTE2NjExEnJwoECAYFBgYGAgMMDw4QDg4ECAYGBAUGAgMPDQ8QAQ4PBAgGBQYGBgIDDA8OEA4OBAgGBgQFBgIDDw0PEAEODwcTY2MTEScnDRgcEBEDCQgQEBEQCAkEEBEbGTJjKChjJyc7FBcWFTs6DAwMDTlJBAgGBQYGBgIDDA8OEA4OBAgGBgQFBgIDDw0PEAEODwgSYxIVEhg9T08UFE9PFEkECAYFBgYGAgMMDw4QDg4ECAYGBAUGAgMPDQ8QAQ4PAlgaHEq1GxoTEksSFIABAgoKCgsTEhQWAQEPEhALDQISExgZQgUFAQ0jGQENDgwMDA2QBggIBgYHByeGx8gaDg8jIyMkDAtVmSsQERwbHBsSEHhGEFG2D6YBAgoKCgsTEhQWAQEPEhALDQISExgZQgUFAQ0jGQENDgwMDA0xVFETFhcOVVETFhYNV4YXCw8PDwsTGxpfBggIBgYHByeGx8jIQYYYERAFBwsFAwwLE4ZRICBRhxoMEBkXFBwJCBMMFBgTFREYCDEEJAooJSQ4CBcNERMMDGsJDw0IEgwMDg/+VI8NmZoNkLWXCQmXtUAaGw4NAxQTJSIgJh8hAwQCDhgUFmPHGQ4OIyIjJAwLVZkrEBEcGxwbEhCFBggIBgYHByeGQyElEhUDDwwdGhscDg0DExQkIkMBAgoKCgsTEhQWAQEPEhALDQISExgZQgUFAQ0jGQENDgwMDA2kxxAQtaUwGhsODQMUEyUiICYfIQMEAg4YFBZkAQIKCgoLExIUFgEBDxIQCw0CEhMYGUIFBQENIxkBDQ4MDAwNY4aGVCAgVEYaGw4NAxQTJSIgJh8hAwQCDhgUFvsWGFsWARD8AANBvxeo/s1uPEs8/s8BYgE3MTE0/tD+igExy8v+z6ArtLQooz7z/s8+AAIAFP/mA9oDrAAbAD8AAAEiBw4BBwYVFBceARcWMzI3PgE3NjU0Jy4BJyYFNDc+ATc2MzIXHgEXFhUUBgcBFhQHBiInAQ4BIyInLgEnJjUBhTMtLEMTFBQTQywtMzMtLUIUExMUQi0t/lwdHWREQ0xMRENkHR0kIAEoEhISMxL+2C1tPExDRGQdHQMxFBNDLC0zMy0tQhQTExRCLS0zMy0sQxMU9kxDRGQdHR0dZERDTDxtLf7YEjMSEhIBKCAkHR1kQ0RMAAAAAQAM/8wD9AO0ACAAABM2MhcJATYyFxYUBwkBFhQHBiInCQEGIicmNDcJASY0NwwLIQsBvQG9CyELDAz+RAG8DAwLIQv+Q/5DCyELDAwBvP5EDAwDtAwM/kQBvAwMCyEL/kP+QwshCwwMAbz+RAwMCyELAb0BvQshCwAAAAMAD//UAvEDrAANACQANwAAASIGFRQWOwEyNjU0JiMFNDYzFBY7ATI2NTIWFREUBiMhIiY1EQE2NCcmIg8BJyYiBwYUHwEWMjcBQxokJBp6GiQkGv5SSDNsTXpNbDNISDP+FDNIAlUSEhIzEspQEjMSEhJ7EjMSA6wkGhkkJBkaJLkzSExsbExIM/1cM0hIMwKk/qISMhISEspQEhISMxJ7EhIABAAM/8YFIQO6ABwAOQBQAGIAAAEUBw4BBwYjIicuAScmNTQ3PgE3NjMyFx4BFxYVIRQHDgEHBiMiJy4BJyY1NDc+ATc2MzIXHgEXFhUBPgE1NCcuAScmJz4BMzIXHgEXFh0BIQEyFx4BFxYdASE1NDc+ATc2MwJOERE7JygtLCgnOxERERE7JygsLSgnOxERAkMREjooJy0tKCc7ERERETsnKC0tJyg6EhH+2QMCBwccFBUZKFsyS0FCYh0c/kn+C0tCQmIcHf0tHB1iQkJKAuEtJyg7ERERETsoJy0tKCc7ERERETsnKC0tJyg7ERERETsoJy0tKCc7ERERETsnKC385RIkEi0qKk8lJCAXGh0cYkJCS0gBsh0cYkJCS0hIS0JCYhwdAAADAAX/1AD7A6wACwAXACMAABMiJjU0NjMyFhUUBgMiJjU0NjMyFhUUBgMiJjU0NjMyFhUUBoAzSEgzM0hIMzNISDMzSEgzM0hIMzNISAK2SDMzSEgzM0j+j0gzM0hIMzNI/o9IMzNISDMzSAACAFwAHAOkA2QAMAA9AAABHgE3NhYHBhYXFhQHDgEXFgYnJgYHBiInLgEHBiY3NiYnJjQ3PgEnJjYXFjY3NjIXAzI2NTQmIyIGFRQWMwJbDFgpP2knGCQvSEgvJRknaT8pWAwRlBEMWCk/aScYJC9ISC8kGCdpPylYDBGUEVtMbGxMTGxsTANkLyUZJ2k/KVgMEZQRDFgpP2knGCQvSEgvJBgnaT8pWAwRlBEMWCk/aScZJS9ISP2kbExMbGxMTGwAAAAAAwAU/9QD7AOsABsAJwA+AAABFAcOAQcGIyInLgEnJjU0Nz4BNzYzMhceARcWJRQGIyImNTQ2MzIWByIGFRQWMxUUFjsBMjY1NCYjNTQmKwED7CcnhVpZZmZZWoUnJycnhVpZZmZZWoUnJ/5RJBkZJCQZGSR6GiQkGiQZPRokJBokGT0BwGZZWoUnJycnhVpZZmZZWoUnJycnhVpZkBokJBoZJCTSJBkZJLkZJCQZGiS4GSQAAgAU/9QD7AOsABsALwAABTI3PgE3NjU0Jy4BJyYjIgcOAQcGFRQXHgEXFgE2NCcmIg8BJyYiBwYUHwEWMj8BAgBmWVqFJycnJ4VaWWZmWVqFJycnJ4VaWQFKEhISMxLKUBIzEhISexIzEvYsJyeFWllmZllahScnJyeFWllmZllahScnAjsSMxISEspPEhISMhJ7EhL1AAACABT/1APsA6wAGwA7AAAFIicuAScmNTQ3PgE3NjMyFx4BFxYVFAcOAQcGAyYiBwYUHwEHBhQXFjI/ARcWMjc2NC8BNzY0JyYiDwECAGZZWoUnJycnhVpZZmZZWoUnJycnhVpZtRIzEhIST08SEhIzEk9PEjMSEhJPTxISEjMSTywnJ4VaWWZmWVqFJycnJ4VaWWZmWVqFJycCkhISEjMST08SMxISEk9PEhISMxJPTxIzEhISTwAAAQAv/9YDygO6ACIAABM0Nz4BNzYzITIWFxYGDwEXHgEHDgEjISIGHQEUBiMiJjURLxAPNiUkKQKZEiAJCAMLqqoLAwgJIBL9ZxsnJxwbJwLzKSUkNhAPExERJg/i4RAlEREUJxvHHCcnHALaAAAAAAMAFP/UA+wDrAAbAD8ASwAAARQHDgEHBiMiJy4BJyY1NDc+ATc2MzIXHgEXFiUiBgcOAScuATc+ATMyFhUUBgcVFAYjIiY9ATQ2MzI2NTQmIxEyNjU0JiMiBhUUFgPsJyeFWllmZllahScnJyeFWllmZllahScn/hQRHAgNMRYWDQwYVTNMbEU2JBkZJCQZGSQkGRkkJBkZJCQBwGZZWoUnJycnhVpZZmZZWoUnJycnhVpZUhENFg4NDTEWKTNsTDxfEwoaJCQaPRkkJBoZJP4VJBkaJCQaGSQAAAABACb/1APaA5oALAAAASYiBwEGFBcWMj8BERQWOwEyNj0BNDY7ATIWHQEUFjsBMjY1ERcWMjc2NCcBAisSMhL+URISEjMSEiQaexkkJBp6GiQkGXsaJBISMxISEv5RA5oSEv5REjISEhIS/msaJCQaexkkJBl7GiQkGgGVEhISEjISAa8AAAAAAwAU/9QD7AOsABsAJwA2AAABFAcOAQcGIyInLgEnJjU0Nz4BNzYzMhceARcWARQGIyImNTQ2MzIWAyIGHQEUFjMyNj0BNCYjA+wnJ4VaWWZmWVqFJycnJ4VaWWZmWVqFJyf+USQZGSQkGRkkPRkkJBkZJCQZAcBmWVqFJycnJ4VaWWZmWVqFJycnJ4VaWf6kGSQkGRokJAIPJBn2GSQkGfYZJAADABf/0gRAA5EAGAAkADIAAAE2NzYyFxYXARYHDgEHBiMhIicuAScmNwETFAYjIiY1NDYzMhYDIgYdARQWMzI2PQE0JgGxFSEhSCEhFAGIFAIBJB8gKPzwKCAfJAIBFAGHwSkdHSkpHR0pRh0pKR0dKSkDWyQSEhISJP1IIyUlPRQTExQ9JSUjArj9SR0pKR0dKSkCFSkd0x0pKR3THSkAAQAK/8oCGAO2ABIAAAEWFAcJARYUBwYiJwEmNDcBNjICGAoK/joBxgoKChwK/iIKCgHeChwDtgocCv46/joKHAoKCgHeChwKAd4KAAEAQP/eAmsDogASAAABFhQHCQEWFAcGIicBJjQ3ATYyAmseHv6uAVIeHh5VHv5mHh4Bmh5VA6IeVR7+r/6vHlUeHh4Bmh5UHgGaHgABABn/2QPnA6cAIAAAEzYyFwkBNjIXFhQHCQEWFAcGIicJAQYiJyY0NwkBJjQ3GRlHGQFuAW4ZRxkZGf6SAW4ZGRlHGf6S/pIZRxkZGQFu/pIZGQOnGRn+kgFuGRkZRxn+kv6SGUcZGRkBbv6SGRkZRxkBbgFuGUcZAAAAAQAT/9MCLQOtABMAAAEWFAcJARYUBwYiJwEmNDcBNjIXAi0TE/5uAZITExI2Ev5AExMBwBI2EgOtEjYS/m3+bRI2EhMTAcASNhIBwBMTAAABAED/3gJrA6IAEgAAARYUBwkBFhQHBiInASY0NwE2MgJrHh7+rgFSHh4eVR7+Zh4eAZoeVQOiHlUe/q/+rx5VHh4eAZoeVB4Bmh4AAwAA/8AFOwPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjUAFxAE7RAXFxD7ExAXFxAE7RAXFxD7ExAXFxAE7RAXFxD7ExAXA5kQFxcQERcXEf4nEBcXEBAXFxD+JxEXFxEQFxcQAAAAAwAA/8AFJQPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjUAKx4Ekh8rKx/7bh4rKx4Ekh8rKx/7bh4rKx4Ekh8rKx/7bh4rA3ceKyseHisrHv5JHisrHh4rKx7+SR4rKx4eKyseAAAAAwAc/8AFOQPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjUcMiQEciMyMiP7jiQyMiQEciMyMiP7jiQyMiQEciMyMiP7jiQyA2sjMjIjJDIyJP5VIzIyIyMyMiP+VSQyMiQjMjIjAAAAAwBE/8AFVQPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjVEPCsERCo8PCr7vCs8PCsERCo8PCr7vCs8PCsERCo8PCr7vCs8A1oqPDwqKzw8K/5mKjw8Kio8PCr+Zis8PCsqPDwqAAAAAQAAAAEAADXt/AtfDzz1AAsEAAAAAADdJclBAAAAAN0lyUEAAP/ACo4DwAAAAAgAAgAAAAAAAAABAAADwP/AAAAKjgAAAAAKjgABAAAAAAAAAAAAAAAAAAAAHAQAAAAAAAAAAAAAAAIAAAAKjgAABAAAFAQAAAwDAAAPBS0ADAEAAAUEAABcBAAAFAQAABQEAAAUBAAALwQAABQEAAAmBAAAFARYABcCIgAKAqsAQAQAABkCQAATAqsAQAU7AAAFJQAABVUAHAWaAEQAAAAAAAoAFAAeBTIFlgXUBiYGugbwB1IHrAf4CFQIjAj6CT4JkAngCgYKLApqCpIKuAr6CzwLfgvAAAAAAQAAABwD3AA8AAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA8AAAABAAAAAAACAAcAqAABAAAAAAADAA8ATgABAAAAAAAEAA8AvQABAAAAAAAFAAsALQABAAAAAAAGAA8AewABAAAAAAAKABoA6gADAAEECQABAB4ADwADAAEECQACAA4ArwADAAEECQADAB4AXQADAAEECQAEAB4AzAADAAEECQAFABYAOAADAAEECQAGAB4AigADAAEECQAKADQBBFNpdGVBZG1pblBvcnRhbABTAGkAdABlAEEAZABtAGkAbgBQAG8AcgB0AGEAbFZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMFNpdGVBZG1pblBvcnRhbABTAGkAdABlAEEAZABtAGkAbgBQAG8AcgB0AGEAbFNpdGVBZG1pblBvcnRhbABTAGkAdABlAEEAZABtAGkAbgBQAG8AcgB0AGEAbFJlZ3VsYXIAUgBlAGcAdQBsAGEAclNpdGVBZG1pblBvcnRhbABTAGkAdABlAEEAZABtAGkAbgBQAG8AcgB0AGEAbEZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "SiteAdminPortal" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PFMLLogo:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-X:before {
  content: "\e902";
}
.icon-square-check:before {
  content: "\e903";
}
.icon-users:before {
  content: "\e904";
}
.icon-vmenu:before {
  content: "\e905";
}
.icon-settings:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}
.icon-circle-check:before {
  content: "\e908";
}
.icon-circle-x:before {
  content: "\e909";
}
.icon-flag:before {
  content: "\e90a";
}
.icon-help:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e90c";
}
.icon-alert-1:before {
  content: "\e90d";
}
.icon-alert-2:before {
  content: "\e90e";
}
.icon-arrow-1:before {
  content: "\e90f";
}
.icon-arrow-2:before {
  content: "\e910";
}
.icon-arrow-3:before {
  content: "\e912";
}
.icon-arrow-4:before {
  content: "\e913";
}
.icon-x:before {
  content: "\e911";
}
.icon-hamburger-1:before {
  content: "\e914";
}
.icon-hamburger-2:before {
  content: "\e915";
}
.icon-hamburger-3:before {
  content: "\e916";
}
.icon-hamburger-4:before {
  content: "\e917";
}
