.action-menu {
  flex: none;
}

.action-menu__list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 1.14em 0 1.14em 1.14em;
}

.action-menu__item {
  border-left: 1px solid $Color-GraniteGray-300;
  display: inline;
  margin-left: 1em;
  padding-left: 1em;
}

.action-menu__item:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

.action-menu__button {
  background: none;
  border: 0;
  color: $Color-BayBlue-500;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
  padding: 0;
}

.action-menu__link:hover,
.action-menu__button:hover {
  text-decoration: underline;
}
