/** @define alert */
.alert {
  align-items: flex-start;
  background: $Color-GraniteGray-50;
  border: solid 1px #989898;
  border-radius: 6px;
  color: $Color-RevolutionGray;
  display: flex;
  line-height: 1.43;
  margin-bottom: 1.1em;
  padding: 0 0.75em 0 1.1em;
}

.alert--warn {
  background: $Color-DucklingYellow-50;
  border-color: $Color-DucklingYellow-300;
}

.alert--success {
  background: $Color-BerkshiresGreen-50;
  border-color: $Color-BerkshiresGreen-300;
}

.alert--info {
  background: $Color-BayBlue-50;
  border-color: $Color-BayBlue-300;
}

.alert--error {
  background: $Color-IndependenceCranberry-50;
  border-color: $Color-ErrorRed;
}

.alert__icon {
  display: block;
  line-height: 1;
  margin: 0.8em 0.85em 0 0;
  width: 1.4em;
}

.alert__icon--warn {
  color: $Color-DucklingYellow-500;
}

.alert__icon--success {
  color: $Color-BerkshiresGreen-500;
  width: 1.29em;
}

.alert__icon--info {
  color: $Color-BayBlue-500;
}

.alert__icon--error {
  color: $Color-ErrorRed;
}

.alert__text {
  flex: 1 1 auto;
  letter-spacing: -0.017em;
  padding: 0.77em 0;
}

.alert__dismiss {
  background: none;
  border: 0;
  cursor: pointer;
  flex: none;
  font-size: 0.85em;
  line-height: 1;
  margin: 0.5em 0 0 1.1em;
  padding: 0.5em;
}

.alert__dismiss-icon {
  color: $Color-GraniteGray-500;
  display: block;
  width: 1.7em;
}

.alert__dismiss-icon--warn {
  color: $Color-DucklingYellow-800;
}

.alert__dismiss-icon--success {
  color: $Color-BerkshiresGreen-800;
}

.alert__dismiss-icon--info {
  color: $Color-BayBlue-800;
}

.alert__dismiss-icon--error {
  color: $Color-IndependenceCranberry-800;
}
