.btn {
  background: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.36em;
}

.btn__text {
  border-radius: 3px;
  display: block;
  margin: 0 0.25em;
  padding: 0.5em 1em;
}

.btn--plain {
  background: none;
  border: none;
  color: $Color-BayBlue-500;
  cursor: pointer;
}
