/** @define confirmation-dialog */
.confirmation-dialog {
  background: none;
  border: none;
  bottom: 0;
  display: flex;
  height: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
}

.confirmation-dialog:not([open]) {
  display: none;
}

.confirmation-dialog__background {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.confirmation-dialog__content {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
  max-width: 350px;
  padding: 0.5em 1em;
  position: relative;
  width: 70%;
  z-index: 10;
}

.confirmation-dialog__action-buttons {
  text-align: center;
}

.confirmation-dialog__title {
  font-size: 1.25em;
}

.confirmation-dialog__body {
  font-size: 0.75em;
}
