/** @define confirmation-dialog */
.confirmation-dialog {
  background: none;
  border: none;
  bottom: 0;
  display: flex;
  height: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
}

.confirmation-dialog:not([open]) {
  display: none;
}

.confirmation-dialog__background {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.confirmation-dialog__content {
  background: #fff;
  border-radius: $Border-Radius;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin: auto;
  max-width: 388px;
  padding: 1.57em 2.14em;
  position: relative;
  width: 80%;
  z-index: 10;
}

.confirmation-dialog__title {
  font-size: 1.14em;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.5em;
  text-align: center;
}

.confirmation-dialog__body {
  color: $Color-GraniteGray-500;
  font-size: 1em;
  line-height: 1.29;
  padding-bottom: 1.65em;
  text-align: center;
}

.confirmation-dialog__action-buttons {
  display: flex;
}

.confirmation-dialog__btn {
  flex: 1 1 auto;
}

.confirmation-dialog__btn-continue {
  margin-right: 0.43em;
}

.confirmation-dialog__btn-cancel {
  margin-left: 0.43em;
}

