@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  grid-column: 1 / span 2;
  background-color: $Color-BerkshiresGreen-200;
  &__container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
  }
  &__icon::before {
    display: block;
    animation: spinner 1.5s linear infinite;
    font-size: 3em;
  }
  &__title {
    font-size: 1.285em;
    line-height: 2em;
    font-weight: bold;
  }
  &__description {
    font-size: 1.143em;
    line-height: 1.714em;
  }
}
