.login {
  padding-top: 0.2em;
}

.login__sub-heading {
  font-size: 1.14em;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
}

.login__info {
  font-weight: 300;
  letter-spacing: -0.015em;
}

.btn--login {
  display: inline-block;
  margin-top: 1em;
}

.btn--login:hover,
.btn--login:focus {
  text-decoration: none;
}
