/* Styles for Search.tsx component */
.search {
  // .search__input-wrapper
  &__input-wrapper {
    margin-top: 1.143em;
    position: relative;
  }
  // .search__input
  &__input[type=text] {
    padding: 0.9em 3.5em 0.9em 1em;
  }
  // .search__icon
  &__icon {
    color: $Color-GraniteGray-400;
    display: block;
    position: absolute;
    right: 1.1em;
    top: 1em;
    width: 1.5em;
  }
}
