/** @define slide-out */
.slide-out {
  background: none;
  border: none;
  bottom: 0;
  display: flex;
  height: auto;
  justify-content: flex-end;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: 10;
}

.slide-out:not([open]) {
  display: none;
}

.slide-out__background {
  animation: animateSlideOutBackgroundIn 0.5s forwards;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.slide-out__header {
  align-items: flex-start;
  display: flex;
}

.slide-out__content {
  animation: animateSlideOutPanelIn 0.5s forwards;
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  max-width: 350px;
  padding: 0.5em 1em;
  position: relative;
  transform: translateX(100%);
  width: 20%;
  z-index: 10;
}

.slide-out__title {
  flex: 1 1 auto;
  font-size: 1.25em;
  margin: 0;
  padding-right: 10px;
}

.slide-out__body {
  font-size: 0.75em;
}

@keyframes animateSlideOutPanelIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes animateSlideOutBackgroundIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
