/* @define table */
.table {
  background: #fff;
  border: 0;
  border-radius: $Border-Radius;
  box-shadow: $Box-Shadow;
  margin-top: 0.72em;
  width: 100%;

  &__head {
    background: #eee;
    border-radius: $Border-Radius;
  }

  &__header {
    font-style: bold;
    line-height: 1.5em;
    padding: 0.8em 1.75em;
    text-align: left;
    text-transform: uppercase;

    &:first-child {
      border-top-left-radius: $Border-Radius;
    }

    &:last-child {
      border-top-right-radius: $Border-Radius;
    }
  }

  &__col {
    border-bottom: 1px solid $Color-GraniteGray-200;
    line-height: 2em;
    padding: 0.5em 1.75em;
  }

  tr:last-child &__col {
    border: 0;
  }
}
