.warning {
  background-color: $Color-DucklingYellow-50;
  border: 1px solid $Color-DucklingYellow-300;
  border-radius: 6px;
  padding: 0.86em 1.28em;
  width: 100%;
}

.warning__icon {
  color: $Color-WarningYellow;
  padding: 1.03em;
}
