.menu {
  position: relative;
}

.menu__icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.14em;
  position: relative;
  vertical-align: middle;
}

.menu__dropdown {
  background-color: white;
  border-radius: 6px;
  box-shadow: $Box-Shadow;
  cursor: pointer;
  left: -100px;
  margin-top: 0;
  padding: 1.14em 1.14em 0;
  position: absolute;
  user-select: none;
  width: 200px;
}

.menu__item {
  list-style: none;
  margin-bottom: 1em;
}

.menu__item--disabled {
  color: $Color-GraniteGray-300;
}
