<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Not Found Claimant Information</title>
  <style type="text/css">
    *, *:before, *:after {
      margin: 0;
      padding: 0;
    }
    html, body {
      font-family: Helvetica, Verdana, Sans-serif;
    }
    h1 {
      text-align: center;
      padding-bottom: 20px;
    }
    h1 span {
      display: block;
      font-size: 70%;
    }
    table {
      width: 100%;
      line-height: 2.25;
    }
    table, th, td {
      border: 2px solid black;
      border-collapse: collapse;
    }
    td {
      padding-left: 10px;
    }
  </style>
</head>
<body>
  <h1>
    User Not Found Claimant Information
    <span>Application ID: [APPLICATIONID]</span>
  </h1>
  <table>
    <tbody>
      <tr>
        <td width="40%">filename</td>
        <td>[FILENAME]</td>
      </tr>
      <tr>
        <td>submissiontime</td>
        <td>[SUBMISSIONTIME]</td>
      </tr>
      <tr>
        <td>name</td>
        <td>[NAME]</td>
      </tr>
      <tr>
        <td>address</td>
        <td>[ADDRESS]</td>
      </tr>
      <tr>
        <td>dateofbirth</td>
        <td>[DATEOFBIRTH]</td>
      </tr>
      <tr>
        <td>gender</td>
        <td>[GENDER]</td>
      </tr>
      <tr>
        <td>email</td>
        <td>[EMAIL]</td>
      </tr>
      <tr>
        <td>phone</td>
        <td>[PHONE]</td>
      </tr>
      <tr>
        <td>idnumber</td>
        <td>[IDNUMBER]</td>
      </tr>
      <tr>
        <td>ssn</td>
        <td>[SSN]</td>
      </tr>
      <tr>
        <td>dateofhire</td>
        <td>[DATEOFHIRE]</td>
      </tr>
      <tr>
        <td>hoursworkedperweek</td>
        <td>[HOURSWORKEDPERWEEK]</td>
      </tr>
      <tr>
        <td>fein</td>
        <td>[FEIN]</td>
      </tr>
      <tr>
        <td>employername</td>
        <td>[EMPLOYERNAME]</td>
      </tr>
      <tr>
        <td>stillworksforemployer</td>
        <td>[STILLWORKSFOREMPLOYER]</td>
      </tr>
      <tr>
        <td>requestedleavereason</td>
        <td>[REQUESTEDLEAVEREASON]</td>
      </tr>
      <tr>
        <td>requestedleavestartdate</td>
        <td>[REQUESTEDLEAVESTARTDATE]</td>
      </tr>
    </tbody>
  </table>
</body>
</html>