/* Bay Blue */
$Color-BayBlue-50: #E8EEF4;
$Color-BayBlue-100: #D0DDE9;
$Color-BayBlue-200: #B9CCDD;
$Color-BayBlue-300: #7299BC;
$Color-BayBlue-400: #2C669A;
$Color-BayBlue-500: #14558F;
$Color-BayBlue-600: #124D81;
$Color-BayBlue-700: #104472;
$Color-BayBlue-800: #0E3C64;
$Color-BayBlue-900: #0C3356;

/* Berkshires Green*/
$Color-BerkshiresGreen-50: #E8EEF4;
$Color-BerkshiresGreen-100: #D7E7DD;
$Color-BerkshiresGreen-200: #C3DACD;
$Color-BerkshiresGreen-300: #88B69A;
$Color-BerkshiresGreen-400: #4C9168;
$Color-BerkshiresGreen-500: #388557;
$Color-BerkshiresGreen-600: #32784E;
$Color-BerkshiresGreen-700: #2D6A46;
$Color-BerkshiresGreen-800: #275D3D;
$Color-BerkshiresGreen-900: #225034;

/* Duckling Yellow */
$Color-DucklingYellow-50: #FEF9E8;
$Color-DucklingYellow-100: #FDF3D1;
$Color-DucklingYellow-200: #FCEEBB;
$Color-DucklingYellow-300: #FADC76;
$Color-DucklingYellow-400: #F7CB32;
$Color-DucklingYellow-500: #F6C51B;
$Color-DucklingYellow-600: #DDB118;
$Color-DucklingYellow-700: #C59E16;
$Color-DucklingYellow-800: #AC8A13;
$Color-DucklingYellow-900: #947610;

/* Granite Gray */
$Color-GraniteGray-50: #EEEEEE;
$Color-GraniteGray-100: #DDDDDD;
$Color-GraniteGray-200: #CBCBCB;
$Color-GraniteGray-300: #989898;
$Color-GraniteGray-400: #646464;
$Color-GraniteGray-500: #535353;
$Color-GraniteGray-600: #4B4B4B;
$Color-GraniteGray-700: #424242;
$Color-GraniteGray-800: #3A3A3A;
$Color-GraniteGray-900: #323232;

/* Independence Cranberry */
$Color-IndependenceCranberry-50: #F0E7E8;
$Color-IndependenceCranberry-100: #E1CED2;
$Color-IndependenceCranberry-200: #D2B6BB;
$Color-IndependenceCranberry-300: #A46C77;
$Color-IndependenceCranberry-400: #772334;
$Color-IndependenceCranberry-500: #680A1D;
$Color-IndependenceCranberry-600: #5E091A;
$Color-IndependenceCranberry-700: #530817;
$Color-IndependenceCranberry-800: #490714;
$Color-IndependenceCranberry-900: #3E0611;

/* Gray Scale */
$Color-RevolutionGray: #141414;
$Color-AtlanticGray: #707070;
$Color-OvercastGray: #DCDCDC;
$Color-PlatinumGray: #F2F2F2;

/* Semantic Colors */
$Color-ErrorRed: #CD0D0D;
$Color-WarningYellow: #F6C51B;
$Color-SuccessGreen: #388557;
$Color-FocusHighlight: #3E94CF;
