/* Bay Blue */
$Color-BayBlue-50: #e8eef4;
$Color-BayBlue-100: #d0dde9;
$Color-BayBlue-200: #b9ccdd;
$Color-BayBlue-300: #7299bc;
$Color-BayBlue-400: #2c669a;
$Color-BayBlue-500: #14558f;
$Color-BayBlue-600: #124d81;
$Color-BayBlue-700: #104472;
$Color-BayBlue-800: #0e3c64;
$Color-BayBlue-900: #0c3356;

/* Berkshires Green*/
$Color-BerkshiresGreen-50: #e8eef4;
$Color-BerkshiresGreen-100: #d7e7dd;
$Color-BerkshiresGreen-200: #c3dacd;
$Color-BerkshiresGreen-300: #88b69a;
$Color-BerkshiresGreen-400: #4c9168;
$Color-BerkshiresGreen-500: #388557;
$Color-BerkshiresGreen-600: #32784e;
$Color-BerkshiresGreen-700: #2d6a46;
$Color-BerkshiresGreen-800: #275d3d;
$Color-BerkshiresGreen-900: #225034;

/* Duckling Yellow */
$Color-DucklingYellow-50: #fef9e8;
$Color-DucklingYellow-100: #fdf3d1;
$Color-DucklingYellow-200: #fceebb;
$Color-DucklingYellow-300: #fadc76;
$Color-DucklingYellow-400: #f7cb32;
$Color-DucklingYellow-500: #f6c51b;
$Color-DucklingYellow-600: #ddb118;
$Color-DucklingYellow-700: #c59e16;
$Color-DucklingYellow-800: #ac8a13;
$Color-DucklingYellow-900: #947610;

/* Granite Gray */
$Color-GraniteGray-50: #eee;
$Color-GraniteGray-100: #ddd;
$Color-GraniteGray-200: #cbcbcb;
$Color-GraniteGray-300: #989898;
$Color-GraniteGray-400: #646464;
$Color-GraniteGray-500: #535353;
$Color-GraniteGray-600: #4b4b4b;
$Color-GraniteGray-700: #424242;
$Color-GraniteGray-800: #3a3a3a;
$Color-GraniteGray-900: #323232;

/* Independence Cranberry */
$Color-IndependenceCranberry-50: #f0e7e8;
$Color-IndependenceCranberry-100: #e1ced2;
$Color-IndependenceCranberry-200: #d2b6bb;
$Color-IndependenceCranberry-300: #a46c77;
$Color-IndependenceCranberry-400: #772334;
$Color-IndependenceCranberry-500: #680a1d;
$Color-IndependenceCranberry-600: #5e091a;
$Color-IndependenceCranberry-700: #530817;
$Color-IndependenceCranberry-800: #490714;
$Color-IndependenceCranberry-900: #3e0611;

/* Gray Scale */
$Color-RevolutionGray: #141414;
$Color-AtlanticGray: #707070;
$Color-OvercastGray: #dcdcdc;
$Color-PlatinumGray: #f2f2f2;

/* Semantic Colors */
$Color-ErrorRed: #cd0d0d;
$Color-WarningYellow: #f6c51b;
$Color-SuccessGreen: #388557;
$Color-FocusHighlight: #3e94cf;
