@font-face {
  font-display: block;
  font-family: 'SiteAdminPortal';
  font-style: normal;
  font-weight: normal;
  src: url('data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBlcAAAC8AAAAYGNtYXAXVtKfAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZlYuho8AAAF4AAAX+GhlYWQkI4ELAAAZcAAAADZoaGVhDlAKbAAAGagAAAAkaG10eG4aAsQAABnMAAAAdGxvY2FrgnP6AAAaQAAAADxtYXhwAFoD3gAAGnwAAAAgbmFtZZoICFMAABqcAAAB5nBvc3QAAwAAAAAchAAAACAAAwQVAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpGAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6Rj//f//AAAAAAAg6QD//f//AAH/4xcEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAA8AAD/wAqOA8AADwAYABsAQgBpAHIAdQCQAJwArwDWAOMA6wDzARoBJgEwAVkBZwFzAXcBiQGXAaIBywHZAf0CCQINAhICKgJIAlMCXwJxAokCkAKiArACvALAAtsDBAMSAxYDHQM1AzwDZQNzA30DlQOcA6UDqgOtA7gDxAPUA9sAACUjNTcHIycdASM1Mxc3MxU3IwcjNzMXIycvAQcXNx4BMzI2NTQmJy4BNTQ2MzIWFwcuASMiBhUUFhceARUUBiMGJiczNx4BMzI2NTQmJy4BNTQ2MzIWFwcuASMiBhUUFhceARUUBiMGJicXIwcjNzMXIycvAQc3NDYzMhYXBy4BIyIGFRQWMzI2NxcOASMiJjU3FSM1IxUjNTMVMzUzFRQGIyImPQEzFRQWMzI2NSczFzceATMyNjU0JicuATU0NjMyFhcHLgEjIgYVFBYXHgEVFAYjBiYnFxUjNTMVIxUzFSMVMzcjFSM1IzUzFyMVIzUjNTMXNx4BMzI2NTQmJy4BNTQ2MzIWFwcuASMiBhUUFhceARUUBiMGJicBFAYrARUjNTMyFhUjNCYrARUzMjY3Fw4BIyImNQ4BIyImNTQ2MzIWFzU0JiMiBgcnPgEzMhYdARQWMzI2MxcnNSImIyIGFRQWMzI2Nzc0NjMyFhUUBiMiJhczFSM3FSMnDgEjIiY1NDYzMhYXNTMHNS4BIyIGFRQWMzI2NzcVMxUjFSM1MxUjFw4BIyImNQ4BIyImNTQ2MzIWFzU0JiMiBgcnPgEzMhYdARQWMzI2MxcnNSImIyIGFRQWMzI2NzcVIzU0JiMiBgcVIzU0JiMiBgcVIzUzFz4BMzIWFz4BMzIWFTc0NjMyFhUUBiMiJhczFSM3MxUjNRcPAQ4BIyImJzceATMyNj8BJzMfAT8BMxcnDgEjIiY1NDY3LgE1NDYzMhYVFAYHFz8BFwcXIy8BDgEVFBYzMjY3JxQWFz4BNTQmIyIGASM9AQcjJxcVIzUzHwE/ATMVNyMeATMyNjcXDgEjIiY1NDYzMhYVHAEVJzMuASMiBjcVIycOASMiJjU0NjMyFhc1Mwc1LgEjIgYHFBYzMjY3NzQ2MzIWFRQGIyImFzMVIzc0NjMyFhcHLgEjIgYVFBYzMjY3Fw4BIyImNRcOASMiJicOASMiJjU0NjMyFhc1NCYjIgYHJz4BMzIWHQEUFjMyNjMXJzUiJiMiBhUUFjMyNjc3MxUjNxUjNTMVMzcjHgEzMjY3Fw4BIyImNTQ2MzIWFRwBFSczLgEjIgYXDgEjIiYnDgEjIiY1NDYzMhYXNTQmIyIGByc+ATMyFh0BFBYzMjYzFyc1IiYjIgYVFBYzMjY3NwcjJzMfAT8BMxcjHgEzMjY3Fw4BIyImNzQ2MzIWFRwBFSczLgEjIgYlFAYrATUzMhYBESERNxUHMwEzNTM1IzUzNSMRJTM1NzI2NTQmKwERAQMjBycjAzM/ARczNxUXMyUjNSMRMzUFBRQBGBMYEx0YGBxbKQcVJBkkFQcHDg5NFAIJCgoJCg8PEhURERMDFAIKCAgICQ8SEBUUEhMDZhQBCgoJCgoQDxIVEhATAxQBCggJCAkQERAVExMTAqMoBxUkGCQVBwYODk0aFREVAxMDCgkLDg4LCQsCFAMXERUZyRUsFhYsihcTFBYVDAoJDAEVGhQBCgoJCgoPEBIVEhAUAhQBCggICQkQEhAWExMTArFFRC8sLDBkHhUeUWAeFR5REBQCCQsJCQkQDxIVERETAxQCCggICAkPEhAVExMTA/uFIx01EkgfIBEZFzQ0FhkBjgMGBAkLCBcOExceHAgOBhARDRICEAQZFRkYBAQDAwECIgUOCRQVDw0NFQc4BwYFCAgFBgcFEBCkDwEGGBEZHyIZDxYGEREEFQ8UGRcUEBYEgFZWEXBf3gMHAwkLCBcPEhceGwkNBxARDRIDDwMaFRkYAwUCBAECIgUOCRQVDw0NFQf/EREREhUCERIRERUCEQ8CBRYSERYFBRcUFxglCAYFCAgFBggFERE+ERGfNgoHEQ0KDQQKAwcHCQoFCDUSHw0MHhLBGQsdFBcdFRMHChgVEhgZEi0DHAofIxQjNBIPFBEPFwo/BgwTEg0NDg/7WhA+ET4BERc9AwQ8Fo5kARgTDxQEDwUeFBshIhsYIGRUARcQEhfpDwEGGBAaHyIZEBUGEREEFQ8UGAEXFBEVBDMIBQYICAYFCAURES0hGxYaBRAEEg4VFhYUEBMDDwQcFRsh+wMGAwoKAQcXDxMXHhwIDgcREQ0RAw8DGhQZGAQEAwMBAiEGDgkUFQ8NDRUINhER2nASXnVkARgTDxQEDwUeExsiIhsYIGNTARcQEhfpAwYDCgoBCBcOExceHAgOBhARDRICDwMZFRkYBAQDAwECIQYOCRQVDw0NFQidOA83EyELDCESe2QBGBMPFAQPBR4UGyIBIhsYIGRUARcRERf3yx0aW1sZHgII/AC/qKgB4UFqaoDB/oVBYTNAOjalARkVQz89RRM6CQEyPTQJPAEkgkHDWToPSEcOOmNISGMTE2NjExEnJwoECAYFBgYGAgMMDw4QDg4ECAYGBAUGAgMPDQ8QAQ4PBAgGBQYGBgIDDA8OEA4OBAgGBgQFBgIDDw0PEAEODwcTY2MTEScnDRgcEBEDCQgQEBEQCAkEEBEbGTJjKChjJyc7FBcWFTs6DAwMDTlJBAgGBQYGBgIDDA8OEA4OBAgGBgQFBgIDDw0PEAEODwgSYxIVEhg9T08UFE9PFEkECAYFBgYGAgMMDw4QDg4ECAYGBAUGAgMPDQ8QAQ4PAlgaHEq1GxoTEksSFIABAgoKCgsTEhQWAQEPEhALDQISExgZQgUFAQ0jGQENDgwMDA2QBggIBgYHByeGx8gaDg8jIyMkDAtVmSsQERwbHBsSEHhGEFG2D6YBAgoKCgsTEhQWAQEPEhALDQISExgZQgUFAQ0jGQENDgwMDA0xVFETFhcOVVETFhYNV4YXCw8PDwsTGxpfBggIBgYHByeGx8jIQYYYERAFBwsFAwwLE4ZRICBRhxoMEBkXFBwJCBMMFBgTFREYCDEEJAooJSQ4CBcNERMMDGsJDw0IEgwMDg/+VI8NmZoNkLWXCQmXtUAaGw4NAxQTJSIgJh8hAwQCDhgUFmPHGQ4OIyIjJAwLVZkrEBEcGxwbEhCFBggIBgYHByeGQyElEhUDDwwdGhscDg0DExQkIkMBAgoKCgsTEhQWAQEPEhALDQISExgZQgUFAQ0jGQENDgwMDA2kxxAQtaUwGhsODQMUEyUiICYfIQMEAg4YFBZkAQIKCgoLExIUFgEBDxIQCw0CEhMYGUIFBQENIxkBDQ4MDAwNY4aGVCAgVEYaGw4NAxQTJSIgJh8hAwQCDhgUFvsWGFsWARD8AANBvxeo/s1uPEs8/s8BYgE3MTE0/tD+igExy8v+z6ArtLQooz7z/s8+AAIAFP/mA9oDrAAbAD8AAAEiBw4BBwYVFBceARcWMzI3PgE3NjU0Jy4BJyYFNDc+ATc2MzIXHgEXFhUUBgcBFhQHBiInAQ4BIyInLgEnJjUBhTMtLEMTFBQTQywtMzMtLUIUExMUQi0t/lwdHWREQ0xMRENkHR0kIAEoEhISMxL+2C1tPExDRGQdHQMxFBNDLC0zMy0tQhQTExRCLS0zMy0sQxMU9kxDRGQdHR0dZERDTDxtLf7YEjMSEhIBKCAkHR1kQ0RMAAAAAQAM/8wD9AO0ACAAABM2MhcJATYyFxYUBwkBFhQHBiInCQEGIicmNDcJASY0NwwLIQsBvQG9CyELDAz+RAG8DAwLIQv+Q/5DCyELDAwBvP5EDAwDtAwM/kQBvAwMCyEL/kP+QwshCwwMAbz+RAwMCyELAb0BvQshCwAAAAMAD//UAvEDrAANACQANwAAASIGFRQWOwEyNjU0JiMFNDYzFBY7ATI2NTIWFREUBiMhIiY1EQE2NCcmIg8BJyYiBwYUHwEWMjcBQxokJBp6GiQkGv5SSDNsTXpNbDNISDP+FDNIAlUSEhIzEspQEjMSEhJ7EjMSA6wkGhkkJBkaJLkzSExsbExIM/1cM0hIMwKk/qISMhISEspQEhISMxJ7EhIABAAM/8YFIQO6ABwAOQBQAGIAAAEUBw4BBwYjIicuAScmNTQ3PgE3NjMyFx4BFxYVIRQHDgEHBiMiJy4BJyY1NDc+ATc2MzIXHgEXFhUBPgE1NCcuAScmJz4BMzIXHgEXFh0BIQEyFx4BFxYdASE1NDc+ATc2MwJOERE7JygtLCgnOxERERE7JygsLSgnOxERAkMREjooJy0tKCc7ERERETsnKC0tJyg6EhH+2QMCBwccFBUZKFsyS0FCYh0c/kn+C0tCQmIcHf0tHB1iQkJKAuEtJyg7ERERETsoJy0tKCc7ERERETsnKC0tJyg7ERERETsoJy0tKCc7ERERETsnKC385RIkEi0qKk8lJCAXGh0cYkJCS0gBsh0cYkJCS0hIS0JCYhwdAAADAAX/1AD7A6wACwAXACMAABMiJjU0NjMyFhUUBgMiJjU0NjMyFhUUBgMiJjU0NjMyFhUUBoAzSEgzM0hIMzNISDMzSEgzM0hIMzNISAK2SDMzSEgzM0j+j0gzM0hIMzNI/o9IMzNISDMzSAACAFwAHAOkA2QAMAA9AAABHgE3NhYHBhYXFhQHDgEXFgYnJgYHBiInLgEHBiY3NiYnJjQ3PgEnJjYXFjY3NjIXAzI2NTQmIyIGFRQWMwJbDFgpP2knGCQvSEgvJRknaT8pWAwRlBEMWCk/aScYJC9ISC8kGCdpPylYDBGUEVtMbGxMTGxsTANkLyUZJ2k/KVgMEZQRDFgpP2knGCQvSEgvJBgnaT8pWAwRlBEMWCk/aScZJS9ISP2kbExMbGxMTGwAAAAAAwAU/9QD7AOsABsAJwA+AAABFAcOAQcGIyInLgEnJjU0Nz4BNzYzMhceARcWJRQGIyImNTQ2MzIWByIGFRQWMxUUFjsBMjY1NCYjNTQmKwED7CcnhVpZZmZZWoUnJycnhVpZZmZZWoUnJ/5RJBkZJCQZGSR6GiQkGiQZPRokJBokGT0BwGZZWoUnJycnhVpZZmZZWoUnJycnhVpZkBokJBoZJCTSJBkZJLkZJCQZGiS4GSQAAgAU/9QD7AOsABsALwAABTI3PgE3NjU0Jy4BJyYjIgcOAQcGFRQXHgEXFgE2NCcmIg8BJyYiBwYUHwEWMj8BAgBmWVqFJycnJ4VaWWZmWVqFJycnJ4VaWQFKEhISMxLKUBIzEhISexIzEvYsJyeFWllmZllahScnJyeFWllmZllahScnAjsSMxISEspPEhISMhJ7EhL1AAACABT/1APsA6wAGwA7AAAFIicuAScmNTQ3PgE3NjMyFx4BFxYVFAcOAQcGAyYiBwYUHwEHBhQXFjI/ARcWMjc2NC8BNzY0JyYiDwECAGZZWoUnJycnhVpZZmZZWoUnJycnhVpZtRIzEhIST08SEhIzEk9PEjMSEhJPTxISEjMSTywnJ4VaWWZmWVqFJycnJ4VaWWZmWVqFJycCkhISEjMST08SMxISEk9PEhISMxJPTxIzEhISTwAAAQAv/9YDygO6ACIAABM0Nz4BNzYzITIWFxYGDwEXHgEHDgEjISIGHQEUBiMiJjURLxAPNiUkKQKZEiAJCAMLqqoLAwgJIBL9ZxsnJxwbJwLzKSUkNhAPExERJg/i4RAlEREUJxvHHCcnHALaAAAAAAMAFP/UA+wDrAAbAD8ASwAAARQHDgEHBiMiJy4BJyY1NDc+ATc2MzIXHgEXFiUiBgcOAScuATc+ATMyFhUUBgcVFAYjIiY9ATQ2MzI2NTQmIxEyNjU0JiMiBhUUFgPsJyeFWllmZllahScnJyeFWllmZllahScn/hQRHAgNMRYWDQwYVTNMbEU2JBkZJCQZGSQkGRkkJBkZJCQBwGZZWoUnJycnhVpZZmZZWoUnJycnhVpZUhENFg4NDTEWKTNsTDxfEwoaJCQaPRkkJBoZJP4VJBkaJCQaGSQAAAABACb/1APaA5oALAAAASYiBwEGFBcWMj8BERQWOwEyNj0BNDY7ATIWHQEUFjsBMjY1ERcWMjc2NCcBAisSMhL+URISEjMSEiQaexkkJBp6GiQkGXsaJBISMxISEv5RA5oSEv5REjISEhIS/msaJCQaexkkJBl7GiQkGgGVEhISEjISAa8AAAAAAwAU/9QD7AOsABsAJwA2AAABFAcOAQcGIyInLgEnJjU0Nz4BNzYzMhceARcWARQGIyImNTQ2MzIWAyIGHQEUFjMyNj0BNCYjA+wnJ4VaWWZmWVqFJycnJ4VaWWZmWVqFJyf+USQZGSQkGRkkPRkkJBkZJCQZAcBmWVqFJycnJ4VaWWZmWVqFJycnJ4VaWf6kGSQkGRokJAIPJBn2GSQkGfYZJAADABf/0gRAA5EAGAAkADIAAAE2NzYyFxYXARYHDgEHBiMhIicuAScmNwETFAYjIiY1NDYzMhYDIgYdARQWMzI2PQE0JgGxFSEhSCEhFAGIFAIBJB8gKPzwKCAfJAIBFAGHwSkdHSkpHR0pRh0pKR0dKSkDWyQSEhISJP1IIyUlPRQTExQ9JSUjArj9SR0pKR0dKSkCFSkd0x0pKR3THSkAAQAK/8oCGAO2ABIAAAEWFAcJARYUBwYiJwEmNDcBNjICGAoK/joBxgoKChwK/iIKCgHeChwDtgocCv46/joKHAoKCgHeChwKAd4KAAEAQP/eAmsDogASAAABFhQHCQEWFAcGIicBJjQ3ATYyAmseHv6uAVIeHh5VHv5mHh4Bmh5VA6IeVR7+r/6vHlUeHh4Bmh5UHgGaHgABABn/2QPnA6cAIAAAEzYyFwkBNjIXFhQHCQEWFAcGIicJAQYiJyY0NwkBJjQ3GRlHGQFuAW4ZRxkZGf6SAW4ZGRlHGf6S/pIZRxkZGQFu/pIZGQOnGRn+kgFuGRkZRxn+kv6SGUcZGRkBbv6SGRkZRxkBbgFuGUcZAAAAAQAT/9MCLQOtABMAAAEWFAcJARYUBwYiJwEmNDcBNjIXAi0TE/5uAZITExI2Ev5AExMBwBI2EgOtEjYS/m3+bRI2EhMTAcASNhIBwBMTAAABAED/3gJrA6IAEgAAARYUBwkBFhQHBiInASY0NwE2MgJrHh7+rgFSHh4eVR7+Zh4eAZoeVQOiHlUe/q/+rx5VHh4eAZoeVB4Bmh4AAwAA/8AFOwPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjUAFxAE7RAXFxD7ExAXFxAE7RAXFxD7ExAXFxAE7RAXFxD7ExAXA5kQFxcQERcXEf4nEBcXEBAXFxD+JxEXFxEQFxcQAAAAAwAA/8AFJQPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjUAKx4Ekh8rKx/7bh4rKx4Ekh8rKx/7bh4rKx4Ekh8rKx/7bh4rA3ceKyseHisrHv5JHisrHh4rKx7+SR4rKx4eKyseAAAAAwAc/8AFOQPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjUcMiQEciMyMiP7jiQyMiQEciMyMiP7jiQyMiQEciMyMiP7jiQyA2sjMjIjJDIyJP5VIzIyIyMyMiP+VSQyMiQjMjIjAAAAAwBE/8AFVQPAAA4AHQAsAAATNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjURNDYzITIWFRQGIyEiJjVEPCsERCo8PCr7vCs8PCsERCo8PCr7vCs8PCsERCo8PCr7vCs8A1oqPDwqKzw8K/5mKjw8Kio8PCr+Zis8PCsqPDwqAAAAAQBCAAAEwAOAACIAAAEeARUUBgcBDgEjIiYnAS4BNzQ2Nz4BMzYWHwEBPgEzMhYXBJoSFBQS/YASLxkZLxL/ABITARMSEi4ZGi4SpgImEi8ZGS8SA1sSMBkZLxL9gBIUFBIBABIuGhkuEhITARMRpgImEhMTEgAAAQAAAAEAAPgchFFfDzz1AAsEAAAAAADdOx5HAAAAAN07HkcAAP/ACo4DwAAAAAgAAgAAAAAAAAABAAADwP/AAAAKjgAAAAAKjgABAAAAAAAAAAAAAAAAAAAAHQQAAAAAAAAAAAAAAAIAAAAKjgAABAAAFAQAAAwDAAAPBS0ADAEAAAUEAABcBAAAFAQAABQEAAAUBAAALwQAABQEAAAmBAAAFARYABcCIgAKAqsAQAQAABkCQAATAqsAQAU7AAAFJQAABVUAHAWaAEQFAABCAAAAAAAKABQAHgUyBZYF1AYmBroG8AdSB6wH+AhUCIwI+gk+CZAJ4AoGCiwKagqSCrgK+gs8C34LwAv8AAEAAAAdA9wAPAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAPAAAAAQAAAAAAAgAHAKgAAQAAAAAAAwAPAE4AAQAAAAAABAAPAL0AAQAAAAAABQALAC0AAQAAAAAABgAPAHsAAQAAAAAACgAaAOoAAwABBAkAAQAeAA8AAwABBAkAAgAOAK8AAwABBAkAAwAeAF0AAwABBAkABAAeAMwAAwABBAkABQAWADgAAwABBAkABgAeAIoAAwABBAkACgA0AQRTaXRlQWRtaW5Qb3J0YWwAUwBpAHQAZQBBAGQAbQBpAG4AUABvAHIAdABhAGxWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBTaXRlQWRtaW5Qb3J0YWwAUwBpAHQAZQBBAGQAbQBpAG4AUABvAHIAdABhAGxTaXRlQWRtaW5Qb3J0YWwAUwBpAHQAZQBBAGQAbQBpAG4AUABvAHIAdABhAGxSZWd1bGFyAFIAZQBnAHUAbABhAHJTaXRlQWRtaW5Qb3J0YWwAUwBpAHQAZQBBAGQAbQBpAG4AUABvAHIAdABhAGxGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA') format('truetype');
}

/* Basic CSS setup */
[class*='pfml-icon'] {
  font-family: 'SiteAdminPortal' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.pfml-icon--pfml-logo::before {
  content: '\e900';
}

.pfml-icon--search::before {
  content: '\e901';
}

.pfml-icon--x::before {
  content: '\e902';
}

.pfml-icon--square-check::before {
  content: '\e903';
}

.pfml-icon--users::before {
  content: '\e904';
}

.pfml-icon--vmenu::before {
  content: '\e905';
}

.pfml-icon--settings::before {
  content: '\e906';
}

.pfml-icon--info::before {
  content: '\e907';
}

.pfml-icon--circle-check::before {
  content: '\e908';
}

.pfml-icon--circle-x::before {
  content: '\e909';
}

.pfml-icon--flag::before {
  content: '\e90a';
}

.pfml-icon--help::before {
  content: '\e90b';
}

.pfml-icon--home::before {
  content: '\e90c';
}

.pfml-icon--alert-1::before {
  content: '\e90d';
}

.pfml-icon--alert-2::before {
  content: '\e90e';
}

.pfml-icon--arrow-1::before {
  content: '\e90f';
}

.pfml-icon--arrow-2::before {
  content: '\e910';
}

.icon-arrow-3::before {
  content: '\e912';
}

.icon-arrow-4::before {
  content: '\e913';
}

.icon-x::before {
  content: '\e911';
}

.icon-hamburger-1::before {
  content: '\e914';
}

.icon-hamburger-2::before {
  content: '\e915';
}

.icon-hamburger-3::before {
  content: '\e916';
}

.icon-hamburger-4::before {
  content: '\e917';
}

.icon-check::before {
  content: '\e918';
}

/* Handy mixin for all icon font properties */
@mixin IconFontProps {
  font-family: 'SiteAdminPortal' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

// For adding unicode font icon code
// Dart Sass converts the \e900 code to characters when compiling
// Usage: icon("e900");
@function icon($str) {
  @return unquote('"') + unquote(str-insert($str, '\\', 1)) + unquote('"');
}

/* Sass variables */
$IconFontFamily: 'SiteAdminPortal' !important;
$IconPfmlLogo: icon('e900');
$IconSearch: icon('e901');
$IconX: icon('e902');
$IconX2: icon('e911');
$IconSquareCheck: icon('e903');
$IconUsers: icon('e904');
$IconVMenu: icon('e905');
$IconSettings: icon('e906');
$IconInfo: icon('e907');
$IconCircleCheck: icon('e908');
$IconCircleX: icon('e909');
$IconFlag: icon('e90a');
$IconHelp: icon('e90b');
$IconHome: icon('e90c');
$IconAlert1: icon('e90d');
$IconAlert2: icon('e90e');
$IconArrow1: icon('e90f');
$IconArrow2: icon('e910');
$IconArrow3: icon('e912');
$IconArrow4: icon('e913');
$IconHamburger1: icon('e914');
$IconHamburger2: icon('e915');
$IconHamburger3: icon('e916');
$IconHamburger4: icon('e917');
$IconCheck: icon('e918');

