.page__sidebar {
  display: none;

  @media screen and (min-width: 1024px) {
    background: $Color-BerkshiresGreen-200;

    display: flex;
    flex-direction: column;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    overflow-y: auto;
    position: relative;
  }
}

.menu {
  padding: 0 0 0.82em;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link,
.settings__link {
  border-left: solid 0.29em transparent;
  color: $Color-RevolutionGray;
  display: block;
  padding: 1.18em 1.29em 1.18em 3.14em;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

.menu__link::before,
.settings__link::before {
  @include IconFontProps;
  display: block;
  font-size: 1.14em;
  left: 0.85em;
  position: absolute;
  top: 1em;
}

.menu__link:hover,
.menu__link:focus,
.menu__link--active,
.settings__link:hover,
.settings__link:focus,
.settings__link--active {
  background: $Color-BerkshiresGreen-100;
  border-color: $Color-BerkshiresGreen-600;
  text-decoration: none;
}

.menu__link--dashboard::before {
  content: $IconHome;
}

.menu__link--user-lookup::before {
  content: $IconUsers;
}

.menu__link--maintenance::before {
  content: $IconAlert1;
}

.menu__link--features::before {
  content: $IconFlag;
}

.settings {
  border-top: 1px solid #9cc2ab;
  flex: 1 1 auto;
  padding: 0.82em 0 0;
}

.settings__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings__link--settings::before {
  content: $IconSettings;
}

.settings__link--help::before {
  content: $IconHelp;
}

.environment {
  font-size: 0.86em;
  line-height: 1.5;
  padding: 0.71em 1.28em 1.48em;
}

.environment__label {
  font-weight: 700;
  text-transform: uppercase;
}
