html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}
