html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.page__header {
  background: green;
  box-sizing: border-box;
  min-height: 100px;
  width: 100%;
}

.page__sidebar {
  background: pink;
  box-sizing: border-box;
  flex: none;
  height: calc(100vh - 100px);
  overflow-y: auto;
  width: 20%;
}

.page__main {
  background: brown;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: calc(100vh - 100px);
  max-width: 80%;
  min-height: 500px;
  overflow-y: auto;
}
