@import "E2EVisualIndicator";

.EnvironmentsTable {
  .version {
    display: flex;
    flex-direction: column;

    span {
      color: #999;
    }
  }

  .e2e-run-history {
    text-wrap: none;
    display: flex;
    height: auto;
  }

  .allLink {
    height: 36px;
    background: #0c74df;
    color: #fff !important;
    border-radius: 5px;
    padding: 0 5px;
    display: inline-block;
    margin: 0 3px;
    line-height: 36px;
    text-align: center;
    &:hover {
      background: #16589d;
    }
  }

  .env {
    width: 140px;
  }

  .infra td {
    font-size: 15px;
    color: teal;
  }
}
