@import "E2EVisualIndicator";

.EnvironmentsTable {
  .version {
    display: flex;
    flex-direction: column;

    span {
      color: #999;
    }
  }

  .e2e-run-history {
    text-wrap: none;
  }

  .env {
    width: 140px;
  }

  .infra td {
    font-size: 15px;
    color: teal;
  }
}
