span.message {
  &.info {
    background: #bbecff;
    padding: 8px;
    border-radius: 8px;
    color: #004058;
    border: 1px #004058 solid;

    .ic-Icon {
      margin-right: 5px;
    }
  }

  &.warning {
    background: #d4e500;
    padding: 10px;
    border-radius: 8px;
    color: #2c2f00;
    border: 0;

    .ic-Icon {
      margin-right: 5px;
    }
  }
}
