{
  "extends": [
    "plugin:jest-dom/recommended",
    "plugin:testing-library/dom",
    "plugin:testing-library/react"
  ],
  "plugins": ["jest-dom", "testing-library"],
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off",
    // allow container.firstChild for snapshot tests
    "testing-library/no-node-access": "off",
    "testing-library/prefer-user-event": [
      "error",
      {
        // Use native blur() if simulating a blur event: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/blur
        // Allow fireEvent.change() since userEvent.type() sometimes doesn't trigger a change event from what we've seen.
        "allowedMethods": ["change"]
      }
    ]
  }
}
