@import "~@newrelic/nr1-community/dist/index.css";
@import "../common/components/Tags.scss";

#root {
  padding: 10px;
}

.TimelineTable {
  h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  .hide {
    display: none;
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
  }

  .clickable {
    text-transform: uppercase;
    border: 1px #666 solid;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 10px;
    padding: 2px 8px;
    line-height: 10px;

    &.on {
      background: #fff;
    }

    &.off {
      background: #ccc;
    }
  }

  .timelineRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;

    > div {
      height: 20px;
      min-width: 150px;
    }

    .ic-Icon {
      margin-right: 10px;
    }

    .DeploymentStatus {
      flex-grow: 2;
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      white-space: nowrap;

      div {
        position: relative;
        padding: 5px 15px;
        height: 20px;
        color: #000 !important;
        line-height: 20px !important;
        margin-right: 20px;
        font-weight: bolder;

        &.icon {
          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
          background: #6a8de1;
          min-width: 70px;

          &:after,
          &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(0, 0, 0, 0);
            border-left-color: #6a8de1;
            border-width: 15px;
            margin-top: -15px;
          }
        }
      }
    }

    .RunStatus {
      display: block;
      width: 100px;
      min-width: 100px;
      position: relative;

      &.rerun {
        .runProgress {
          border-left: 2px #000 solid;
        }
        &:after {
          color: #000;
          content: "*";
          position: absolute;
          top: 2px;
          left: 5px;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .runProgress {
        height: 20px;

        .progress {
          line-height: 20px !important;
          height: 20px;
        }
      }
    }

    .tags {
      padding: 0 5px;
      align-items: center;
      display: flex;

      &.none {
        display: none;
      }
    }

    .timelineDot {
      padding: 0 25px 0 14px;
      position: relative;
      min-width: 25px;

      &:before {
        top: 0;
      }

      &:before {
        content: "";
        display: block;
        width: 1px;
        background-color: #d5d7d7;
        position: absolute;
        left: 17px;
        top: -16px;
        bottom: -16px;
      }

      &:after {
        width: 7px;
        height: 7px;
        background-color: #b9bdbd;
        border-radius: 100%;
        box-shadow: 0 0 0 3px #fff;
        position: absolute;
        content: "";
        display: block;
        top: 7px;
      }
    }
  }

  .timestamp {
    text-align: right;
    width: 250px;
    color: #8e9494;
    font-size: 12px;

    .date {
      font-size: 14px;
      color: #464e4e;
      margin-bottom: 1px;
    }

    .time {
      font-size: 11px;
      padding-right: 5px;
    }
  }
}
