@import "../common/components/ListErrors";
@import "../common/components/Navigation";
@import "../common/components/Tags";
@import "../common/components/EnvironmentsTable";
@import "../common/components/Filters";

html {
  height: auto;
}

.E2E-morning-run {
  h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 1px #666 solid;
  }

  .filelist {
    list-style: disc;
    margin-left: 23px;

    code {
      background: #fee;
      color: #e56b00;
      border: 1px #e56b00 solid;
      border-radius: 4px;
      padding: 2px;
    }

    li {
      margin-bottom: 8px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    > div {
      padding: 5px;
    }

    .env {
      width: 120px;
    }
  }

  .summary {
    padding: 20px 0;

    h3 {
      display: inline-block;
    }
  }
}
