{
  "presets": [
    // https://nextjs.org/docs/advanced-features/customizing-babel-config
    "next/babel"
  ],
  "plugins": [
    // Reduce bundle size by importing only the Lodash methods we use
    "lodash"
  ]
}
