name: API Nightly Security Check

on:
  workflow_dispatch:
  schedule:
  # scheduled to run nightly at 11 PM EST
    - cron: '0 18 * * *'

defaults:
  run:
    working-directory: ./api

jobs:
  check:
    runs-on: ubuntu-latest
    #  Run a job matrix so the steps get run once for stage, and once for prod
    strategy:
      matrix:
        api_environment: ['deploy/api/stage', 'deploy/api/prod']
    outputs:
      bandit-code: ${{ steps.bandit.outputs.bandit-code }}
      safety-code: ${{ steps.safety.outputs.safety-code }}

    steps:
      - name: Get Branches
        uses: actions/checkout@v2
        with: 
          ref: ${{ matrix.api_environment }}
    
      - name: build container
        run: make build

      - name: install project dependencies not built into container
        run: make deps

      - name: run Bandit
        id: bandit
        run: |
          set +e
          make lint-security
          echo "::set-output name=bandit-code::$?"
    
      - name: run Safety
        id: safety
        run: |
          set +e
          make deps-check
          echo "::set-output name=safety-code::$?"

  alert-if-failed:
    runs-on: ubuntu-latest
    needs: [check]
    if: needs.check.outputs.bandit-code != '0' ||  needs.check.outputs.safety-code  != '0'
    steps:
    - name: send low priority page if scans fail
      uses: fjogeleit/http-request-action@master
      with:
        url: 'https://events.pagerduty.com/v2/enqueue'
        method: 'POST'
        contentType: 'application/json'
        data: "{
          \"routing_key\": \"6b02445c7be347beab083af7544913eb\", 
          \"event_action\": \"trigger\",
          \"dedup_key\":\"bandit-safety-scan\",
          \"payload\": {
            \"summary\": \"API Vulnerability Detected (Stage/Prod)\",
            \"severity\": \"warning\",
            \"source\": \"Bandit and Safety Scan\",
            \"custom_details\": {
              \"description\": \"New medium or critical vulnerability found in stage/prod for a dependency or code pattern. Please see the GitHub Actions run failure for details.\"
              }
            },
            \"links\": [
              {
              \"href\":\"https://github.com/EOLWD/pfml/actions/runs/${{ github.run_id }}\",
              \"text\": \"GitHub Actions run\"
              }
            ]
          }"