# Run tests and linting for the Paid Leave API.
#
name: API CI Testing

on:
  push:
    branches:
      - main
    paths:
      - api/**
  pull_request:
    paths:
      - api/**

defaults:
  run:
    working-directory: ./api

env:
  CI: true

jobs:
  # Check for formatting and linting issues.
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build container
        run: make build

      - name: install project dependencies not built into container
        run: make deps

      - name: check dependencies
        run: make deps-check

      - name: format-check
        run: make format-check

      - name: lint
        run: make lint

      - name: security
        run: make lint-security

  # Check for test failures.
  get-test-dirs:
    runs-on: ubuntu-latest
  
    outputs:
      matrix: ${{ steps.get-dirs.outputs.matrix }}
    
    steps:
      - uses: actions/checkout@v2

      - name: get test directories
        id: get-dirs
        run: |
          sudo apt-get install jq
          cd tests/
          TEST_DIRS=$(ls -d */ | cut -f1 -d'/' | grep -v pycache | grep -v helpers | jq -R . | jq -s -c .)
          echo "::set-output name=matrix::$TEST_DIRS"
          
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    if: always()

    needs: get-test-dirs
    
    strategy:
      fail-fast: false
      matrix:
        test_dirs: ${{ fromJSON(needs.get-test-dirs.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v2

      - name: build container
        run: make build

      - name: test for multi-headed migration situation
        run: make test args="tests/db/test_migrations.py::test_only_single_head_revision_in_migrations"

      - name: start db
        run: make start-db

      - name: run migrations
        run: make db-upgrade

      - name: create database users
        run: make db-create-users

      - name: test with coverage
        run: make test-coverage args="tests/${{ matrix.test_dirs }} --ignore=tests/api/payments/ --ignore=tests/api/test_applications.py"

  # Special handling for tests/api/payments to distribute test runtimes more evenly.
  test-api-payments:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v2

      - name: build container
        run: make build

      - name: test for multi-headed migration situation
        run: make test args="tests/db/test_migrations.py::test_only_single_head_revision_in_migrations"

      - name: start db
        run: make start-db

      - name: run migrations
        run: make db-upgrade

      - name: create database users
        run: make db-create-users

      - name: test with coverage
        run: make test-coverage args=tests/api/payments/

  # Special handling for tests/api/test_applications.py to distribute test runtimes more evenly.
  test-api-applications:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v2

      - name: build container
        run: make build

      - name: test for multi-headed migration situation
        run: make test args="tests/db/test_migrations.py::test_only_single_head_revision_in_migrations"

      - name: start db
        run: make start-db

      - name: run migrations
        run: make db-upgrade

      - name: create database users
        run: make db-create-users

      - name: test with coverage
        run: make test-coverage args=tests/api/test_applications.py

  # Check we can build a release
  build-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build
        run: make release-build

      - name: pre-flight-test
        run: make release-test

  # Run Tenable container scanning
  scan-containers:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build image
        run: make release-build

      - name: pull latest tenable image
        env:
          DOCKER_PW: ${{ secrets.PFML_TENABLE_DOCKER_PASSWORD }}
          DOCKER_USER: ${{ secrets.PFML_TENABLE_DOCKER_USER }}
        run: |
          echo "$DOCKER_PW" | docker login --username "$DOCKER_USER" --password-stdin tenableio-docker-consec-local.jfrog.io
          docker pull tenableio-docker-consec-local.jfrog.io/cs-scanner:latest

      - name: run tenable scan
        env:
          TENABLE_ACCESS_KEY: ${{ secrets.TENABLE_ACCESS_KEY }}
          TENABLE_SECRET_KEY: ${{ secrets.TENABLE_SECRET_KEY }}
        run: |
          DOCKER_TAG=$(docker images | grep mass-pfml-api | grep -v latest | awk '{print $2}')
          docker save mass-pfml-api:$DOCKER_TAG | docker run \
          --env TENABLE_ACCESS_KEY=$TENABLE_ACCESS_KEY \
          --env TENABLE_SECRET_KEY=$TENABLE_SECRET_KEY \
          --env IMPORT_REPO_NAME=mass-pfml-api \
          --env CHECK_POLICY=true \
          --interactive tenableio-docker-consec-local.jfrog.io/cs-scanner:latest inspect-image mass-pfml-api:$DOCKER_TAG
