# Run tests and linting for the Paid Leave API.
#
name: API CI Testing

on:
  push:
    branches:
      - main
    paths:
      - api/**
  pull_request:
    paths:
      - api/**

defaults:
  run:
    working-directory: ./api

env:
  CI: true
  deploys_channel: "C01HEAJPE76" #mass-pfml-deploys-shared
  workflow_self_link: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

jobs:
  # Check for formatting and linting issues.
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build container
        run: make build

      - name: install project dependencies not built into container
        run: make deps

      # TODO (API-1624) Re-enable once the dependency issue can be resolved.
      # Currently disabled so the rest of this CI action continues to operate and
      # block PR's as expected
      # - name: check dependencies
      #   run: make deps-check

      - name: format-check
        run: make format-check

      - name: lint
        run: make lint

      - name: security
        run: make lint-security

  # Check for test failures.
  get-test-dirs:
    runs-on: ubuntu-latest
  
    outputs:
      matrix: ${{ steps.get-dirs.outputs.matrix }}
    
    steps:
      - uses: actions/checkout@v2

      - name: get test directories
        id: get-dirs
        run: |
          sudo apt-get install jq
          cd tests/
          TEST_DIRS=$(ls -d */ | cut -f1 -d'/' | grep -v pycache | grep -v helpers | jq -R . | jq -s -c .)
          echo "::set-output name=matrix::$TEST_DIRS"
          
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    if: always()

    needs: get-test-dirs
    
    strategy:
      fail-fast: false
      matrix:
        test_dirs: ${{ fromJSON(needs.get-test-dirs.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v2

      - name: build container
        run: make build

      - name: test for multi-headed migration situation
        run: make test args="tests/db/test_migrations.py::test_only_single_head_revision_in_migrations"

      - name: start db
        run: make start-db

      - name: run migrations
        run: make db-upgrade

      - name: create database users
        run: make db-create-users

      - name: test with coverage
        run: make test-coverage args=tests/${{ matrix.test_dirs }}


  # Check we can build a release
  build-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build
        run: make release-build

      - name: pre-flight-test
        run: make release-test

  # Run Tenable container scanning
  scan-containers:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: build image
        run: make release-build

      - name: pull latest tenable image
        env:
          DOCKER_PW: ${{ secrets.PFML_TENABLE_DOCKER_PASSWORD }}
          DOCKER_USER: ${{ secrets.PFML_TENABLE_DOCKER_USER }}
        run: |
          echo "$DOCKER_PW" | docker login --username "$DOCKER_USER" --password-stdin tenableio-docker-consec-local.jfrog.io
          docker pull tenableio-docker-consec-local.jfrog.io/cs-scanner:latest

      - name: run tenable scan
        env:
          TENABLE_ACCESS_KEY: ${{ secrets.TENABLE_ACCESS_KEY }}
          TENABLE_SECRET_KEY: ${{ secrets.TENABLE_SECRET_KEY }}
        run: |
          DOCKER_TAG=$(docker images | grep mass-pfml-api | grep -v latest | awk '{print $2}')
          docker save mass-pfml-api:$DOCKER_TAG | docker run \
          --env TENABLE_ACCESS_KEY=$TENABLE_ACCESS_KEY \
          --env TENABLE_SECRET_KEY=$TENABLE_SECRET_KEY \
          --env IMPORT_REPO_NAME=mass-pfml-api \
          --env CHECK_POLICY=true \
          --interactive tenableio-docker-consec-local.jfrog.io/cs-scanner:latest inspect-image mass-pfml-api:$DOCKER_TAG

  # Run Terriyay
  get-test-state:
    name: Finalize test state
    needs: [test]
    if: always() && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      test-state: ${{ steps.test-state.outputs.test-state }}
    steps:
        # https://github.com/technote-space/workflow-conclusion-action
        # this action takes the "conclusion" status from jobs and compiles them together into an env variable with a rolled up status
      - uses: actions/checkout@v2
      - uses: technote-space/workflow-conclusion-action@v2
      - name: Set test-state value
        id: test-state
        run: echo "::set-output name=test-state::${{ env.WORKFLOW_CONCLUSION }}"

  post-to-slack:
    name: post failures to slack
    needs: [get-test-state]
    if: needs.get-test-state.outputs.test-state == 'failure' || needs.get-test-state.outputs.test-state == 'timed_out'
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.PFML_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PFML_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          role-to-assume: ci-run-deploys
          role-duration-seconds: 3600

      - name: Pull slackbot API token from SSM
        uses: "marvinpinto/action-inject-ssm-secrets@latest"
        with:
          ssm_parameter: "/admin/common/nava-slackbot-api-key"
          env_variable_name: "slackbot_token"

      - name: Post to Slack
        run: |
          SLACKBOT_RESPONSE=$(curl -fsLS -X POST -H "Authorization: Bearer ${{ env.SLACKBOT_TOKEN }}" \
          -H 'Content-Type: application/json;charset=utf-8' \
          --data '{
            "channel": "${{ env.deploys_channel }}",
            "attachments": [{
              "title": "API tests failed (<${{ env.workflow_self_link }}|build logs>)",
              "color": "danger"
            }]
          }' https://slack.com/api/chat.postMessage)

