@import "../scss/variables";

#root {
  margin: 0;
  padding: 0;
}

a {
  color: $LINK_COLOR;

  &:hover {
    color: $LINK_COLOR_HOVER;
  }
}

.closed {
  display: none;
}

.pill {
  padding: 2px 6px;
  border-radius: 5px;
  border: 1px #fff solid;
  font-weight: bold;
  font-size: 9px;
  margin-right: 5px;
  //filter: brightness(0.9) contrast(.9) saturate(1.3) hue-rotate(-10deg);

  &.PASS {
    background: #ffeffd;
    color: $COLOR_PASS;
    border-color: $COLOR_PASS;
  }

  &.SKIPPED {
    background: $COLOR_WARN;
  }

  &.EDM {
    background: #ffeffd;
    color: #ff00e0;
    border-color: #ff00e0;
  }

  &.HIGH,
  &.connection {
    background: #fee;
    color: $COLOR_FAIL;
    border-color: $COLOR_FAIL;
  }

  &.MEDIUM {
    background: #fee;
    color: $COLOR_WARN_MEDIUM;
    border-color: $COLOR_WARN_MEDIUM;
  }

  &.LOW {
    background: #f0f8ff;
    color: $COLOR_WARN_LOW;
    border-color: $COLOR_WARN_LOW;
  }
}
