$LINK_COLOR: #0c74df;
$LINK_COLOR_HOVER: #16589d;
$LINK_COLOR_ACTIVE: #0c74df;

$COLOR_FAIL: #ff0000;
$COLOR_WARN_MEDIUM: #e56b00;
$COLOR_WARN: #d4e500;
$COLOR_WARN_LOW: #08f;
$COLOR_PASS: #00c100;
$COLOR_FLAKE: #00c1cc;

$TAG_COLOR: #aaa;
$TAG_BG: #fff;
$TAG_COLOR_MORNING: #986ae1;
$TAG_BG_MORNING: #f0e6f5;
$TAG_COLOR_DEPLOY: #6a8de1;
$TAG_BG_DEPLOY: #dfe4f5;
$TAG_COLOR_PR: #333;
$TAG_BG_PR: #dfe4f5;
$TAG_COLOR_BRANCH: #e56b00;
$TAG_BG_BRANCH: #fee;

$PROGRESS_DEFAULT_FILL: #ddd;
$PROGRESS_ERROR_FILL: #ffcfcf;

@mixin COLOR_FILTER {
  filter: brightness(0.9) contrast(0.9) saturate(1.3) hue-rotate(-10deg);
}
